@keyframes titleEntry {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.shadow {
  text-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

.title {
  animation: titleEntry 1s ease-in-out;
}

@keyframes descriptionEntry {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.description {
  animation: descriptionEntry 1s ease-in-out;
}
